DEBUG=false
ENVIRONMENT=local
CELERY__VISIBILITY_TIMEOUT=3600
CELERY__POLLING_INTERVAL=5
OPENSEARCH__URL=http://localhost:9200
OPENSEARCH__USERNAME=admin
OPENSEARCH__PASSWORD=admin
OPENSEARCH__USE_SSL=false
OPENSEARCH__VERIFY_CERTS=false
OPENSEARCH__SSL_ASSERT_HOSTNAME=false
OPENSEARCH__SSL_SHOW_WARN=false
DB_URL=postgresql://user:password@localhost:5432/mydatabase